<app-tab-container (tabClose)="removeLocationByIndex($event)">
  @for (location of currentConditions$ | async; track location.zip) {
    <app-tab
      [label]="location.data?.name ? location.data.name + ' (' + location.zip + ')' : 'Error'"
    >
      <div class="well flex" [routerLink]="location.data ? ['/forecast', location.zip] : undefined">
        @if (location.data) {
          <div>
            <h3>{{ location.data.name }} ({{ location.zip }})</h3>
            <h4>Current conditions: {{ location.data.weather[0].main }}</h4>
            <h4>Temperatures today:</h4>
            <p>
              Current {{ location.data.main.temp | number: '.0-0' }} - Max
              {{ location.data.main.temp_max | number: '.0-0' }} - Min
              {{ location.data.main.temp_min | number: '.0-0' }}
            </p>
            <p>
              <a [routerLink]="['/forecast', location.zip]"
                >Show 5-day forecast for {{ location.data.name }}</a
              >
            </p>
          </div>
        } @else {
          <div>
            <h3>No forecast available for {{ location.zip }}</h3>
          </div>
        }
        <div>
          <span
            class="close pointer"
            (click)="removeLocation(location.zip); $event.stopPropagation()"
            >&times;</span
          >
          @if (location.data) {
            <img
              [src]="location.data.weather[0].id | asPureFunction: getWeatherIcon"
              alt="weather icon"
            />
          }
        </div>
      </div>
    </app-tab>
  }
</app-tab-container>
